<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828810893904-k8b8ut48o5ji58kcrfpn9o2s27jfpaeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828810893904-k8b8ut48o5ji58kcrfpn9o2s27jfpaeo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828810893904-ggftnp73l7hrhkmj4cf345qngo3ccmgn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPFVtSQSNvNJlf6JTUhojHHX2iLNYMhAA</string>
	<key>GCM_SENDER_ID</key>
	<string>828810893904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.przepisy</string>
	<key>PROJECT_ID</key>
	<string>przepisy-sylwii-project</string>
	<key>STORAGE_BUCKET</key>
	<string>przepisy-sylwii-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828810893904:ios:9519b34b0cfd42f7fbcf55</string>
</dict>
</plist>